
<div class="row position-relative">
  <!-- Modal -->
  <div *ngIf="addingItem" class="modal-overlay" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5 class="modal-title fw-bold">Seleccionar Ítem</h5>
        <button type="button" 
                class="btn-close" 
                (click)="closeModal()"
                aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <app-items [actionFilters]="actionFilters"></app-items>
      </div>
    </div>
  </div>


  <!-- Contenido principal con efecto blur cuando el modal está abierto -->
  <div [class.blur-effect]="addingItem">
    <div class="d-flex justify-content-end mb-4">
      <div class="col-md-2">
        <button class="btn btn-primary w-100 btn-sm" (click)="newItem()">
          <fa-icon [icon]="icon.add" [fixedWidth]="true"></fa-icon> Nuevo Item
        </button>
      </div>
    </div>
    
    <div class="col-md-12">
      <app-item-ordenes [isWorkItem]="isWorkItem" ></app-item-ordenes>
    </div>
  </div>
</div>